.btn {
    font-size: inherit;
    background: none;
    border: none;
    outline: none;
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all .3s;
}

.btn--primary {
    color: #fff;
    background-color: hsl(200, 100%, 50%);
}
.btn--primary:hover{
    background-color: hsl(200, 100%,35%);
}
.btn--danger {
    color: #fff;
    background-color: hsl(0, 100%, 50%);
}
.btn--danger:hover{
    background-color: hsl(0, 100%,35%);
}